api.seans.tedeshi.ru {
    reverse_proxy backend:8000
}

adminer.seans.tedeshi.ru {
    reverse_proxy adminer:8080
}

prowlarr.seans.tedeshi.ru {
    reverse_proxy prowlarr:9696
}

jacred.seans.tedeshi.ru {
    reverse_proxy jacred:9117
}