api.seans.tedeshi.ru {
    reverse_proxy backend:8000
}

seans.tedeshi.ru {
    reverse_proxy frontend:80
}

adminer.seans.tedeshi.ru {
    reverse_proxy adminer:8080
}

jacred.seans.tedeshi.ru {
    reverse_proxy jacred:9117
}