api.seans.tedeshi.ru {
    reverse_proxy backend:8000
}

seans.tedeshi.ru {
    reverse_proxy frontend:80
}

adminer.seans.tedeshi.ru {
    reverse_proxy adminer:8080
}

jacred.seans.tedeshi.ru {
    reverse_proxy jacred:9117
}

sonarr.seans.tedeshi.ru {
    reverse_proxy sonarr:8989
}

radarr.seans.tedeshi.ru {
    reverse_proxy radarr:7878
}

bazarr.seans.tedeshi.ru {
    reverse_proxy bazarr:6767
}